language: cpp

os:
  - linux
  - windows
  - osx

compiler:
  - clang

script:
  - mkdir build
  - cd build
  - cmake ..
  - if [ "$TRAVIS_OS_NAME" = "linux" OR "$TRAVIS_OS_NAME" = "osx" ]; then make;                         fi
  - if [ "$TRAVIS_OS_NAME" = "linux" OR "$TRAVIS_OS_NAME" = "osx" ]; then ./tests;                      fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ];   then cmake --build . --target ALL_BUILD --config Release;   fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ];   then .\\Release\\tests.exe;                                 fi
